<md-sidenav-layout class="equalize-root" fullscreen>
  <md-sidenav #start>
    <md-nav-list>
      <a md-list-item [routerLink]="['/users']">Usuários</a>
    </md-nav-list>
    <button md-button (click)="start.close()">Fechar</button>
  </md-sidenav>
  <div>
    <md-toolbar *ngIf="userSignedIn()" color="primary">
      <button md-icon-button (click)="start.open()">
        <md-icon class="md-23.9">menu</md-icon>
      </button>
      <h1>{{title}}</h1>
    </md-toolbar>
    <div class="demo-content">
      <app-message [message]="message"></app-message>
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-layout>