<md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Sign In</md-toolbar>
  <md-card-content>
    <form id="sign-in-form" (ngSubmit)="signIn()" #signInForm="ngForm">
      <div>
        <md-input id="user-email"
                  [(ngModel)]="model.email"
                  ngControl="email" #email="ngForm"
                  class="demo-full-width"
                  placeholder="Email"
                  type="email"
                  required></md-input>
      </div>
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        Email is required
      </div>
      <div>
        <md-input id="user-password"
                  [(ngModel)]="model.password"
                  ngControl="password" #password="ngForm"
                  class="demo-full-width"
                  placeholder="Password"
                  type="password"
                  required></md-input>
      </div>
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password is required
      </div>
      <button type="submit"
              md-raised-button
              color="primary"
              [disabled]="!signInForm.form.valid">Submit</button>
      <button md-raised-button color="warn">Cancel</button>
    </form>
  </md-card-content>
</md-card>
